In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
mask_use_file = '../covid-19-data/mask-use/mask-use-by-county.csv'
excess_deaths_file = '../covid-19-data/excess-deaths/deaths.csv'
colleges_file = '../covid-19-data/colleges/colleges.csv'
US_live_file = '../covid-19-data/live/us.csv'
US_live_counties_file = '../covid-19-data/live/us-counties.csv'
US_live_states_file = '../covid-19-data/live/us-states.csv'
US_file = '../covid-19-data/us.csv'
US_counties_file = '../covid-19-data/us-counties.csv'
US_states_file = '../covid-19-data/us-states.csv'
US_state_policy_file = 'state_policy_updates_20201202_0721.csv'
US_county_population_file = 'co-est2019-alldata.csv'
US_county_land_file = 'LND01.csv'
US_county_vote_file = 'president_county_candidate.csv'
US_county_income_file = 'SAIPE2018.csv'

In [33]:
mask_use_DF = pd.read_csv(mask_use_file)
excess_deaths_DF = pd.read_csv(excess_deaths_file)
colleges_DF = pd.read_csv(colleges_file)
US_DF = pd.read_csv(US_file)
US_counties_DF = pd.read_csv(US_counties_file)
US_states_DF = pd.read_csv(US_states_file)
US_live_DF = pd.read_csv(US_live_file)
US_live_counties_DF = pd.read_csv(US_live_counties_file)
US_live_states_DF = pd.read_csv(US_live_states_file)
US_state_policy_DF = pd.read_csv(US_state_policy_file)
US_county_population_DF = pd.read_csv(US_county_population_file, encoding = "ISO-8859-1")
US_county_land_DF = pd.read_csv(US_county_land_file)
US_county_DF = pd.read_csv(US_county_vote_file)
US_county_income_DF = pd.read_csv(US_county_income_file)

In [4]:
excess_deaths_DF[excess_deaths_DF.country == 'United States']

,country,placename,frequency,start_date,end_date,year,month,week,deaths,expected_deaths,excess_deaths,baseline
1459,United States,NaN,weekly,2020-01-06,2020-01-12,2020,1,2.0,60691,60628.0,63.0,2017-2019 historical data
1460,United States,NaN,weekly,2020-01-13,2020-01-19,2020,1,3.0,59338,60023.0,-685.0,2017-2019 historical data
1461,United States,NaN,weekly,2020-01-20,2020-01-26,2020,1,4.0,59104,59872.0,-768.0,2017-2019 historical data
1462,United States,NaN,weekly,2020-01-27,2020-02-02,2020,2,5.0,58763,60412.0,-1649.0,2017-2019 historical data
1463,United States,NaN,weekly,2020-02-03,2020-02-09,2020,2,6.0,59328,60073.0,-745.0,2017-2019 historical data
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,United States,NaN,weekly,NaN,NaN,2017-2019 average,11,47.0,55082,NaN,NaN,NaN
1542,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,48.0,55872,NaN,NaN,NaN
1543,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,49.0,56832,NaN,NaN,NaN
1544,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,50.0,57866,NaN,NaN,NaN
1545,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,51.0,58879,NaN,NaN,NaN

In [5]:
mask_use_DF

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0         1001  0.053   0.074      0.134       0.295   0.444
1         1003  0.083   0.059      0.098       0.323   0.436
2         1005  0.067   0.121      0.120       0.201   0.491
3         1007  0.020   0.034      0.096       0.278   0.572
4         1009  0.053   0.114      0.180       0.194   0.459
...        ...    ...     ...        ...         ...     ...
3137     56037  0.061   0.295      0.230       0.146   0.268
3138     56039  0.095   0.157      0.160       0.247   0.340
3139     56041  0.098   0.278      0.154       0.207   0.264
3140     56043  0.204   0.155      0.069       0.285   0.287
3141     56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [6]:
colleges_DF

,date,state,county,city,ipeds_id,college,cases,notes
0,2020-11-19,Alabama,Madison,Huntsville,100654.0,Alabama A&M University,41.0,NaN
1,2020-11-19,Alabama,Montgomery,Montgomery,100724.0,Alabama State University,2.0,NaN
2,2020-11-19,Alabama,Limestone,Athens,100812.0,Athens State University,33.0,NaN
3,2020-11-19,Alabama,Lee,Auburn,100858.0,Auburn University,2079.0,NaN
4,2020-11-19,Alabama,Montgomery,Montgomery,100830.0,Auburn University at Montgomery,101.0,NaN
...,...,...,...,...,...,...,...,...
1903,2020-11-19,Wisconsin,Milwaukee,Milwaukee,240338.0,Wisconsin Lutheran College,58.0,NaN
1904,2020-11-19,Wyoming,Natrona,Casper,240505.0,Casper College,249.0,NaN
1905,2020-11-19,Wyoming,Goshen,Torrington,240596.0,Eastern Wyoming College,10.0,NaN
1906,2020-11-19,Wyoming,Albany,Laramie,240727.0,University of Wyoming,1597.0,NaN
1907,2020-11-19,Wyoming,Sweetwater,Rock Springs,240693.0,Western Wyoming Community College,41.0,NaN

In [7]:
US_DF

           date     cases  deaths
0    2020-01-21         1       0
1    2020-01-22         1       0
2    2020-01-23         1       0
3    2020-01-24         2       0
4    2020-01-25         3       0
..          ...       ...     ...
312  2020-11-28  13311031  265940
313  2020-11-29  13447344  266758
314  2020-11-30  13615103  268023
315  2020-12-01  13799397  270633
316  2020-12-02  13999385  273518

[317 rows x 3 columns]

In [8]:
US_counties_DF[US_counties_DF.date == '2020-12-02']

              date      county    state     fips  cases  deaths
787458  2020-12-02     Autauga  Alabama   1001.0   2873    42.0
787459  2020-12-02     Baldwin  Alabama   1003.0   9163   137.0
787460  2020-12-02     Barbour  Alabama   1005.0   1206    29.0
787461  2020-12-02        Bibb  Alabama   1007.0   1239    38.0
787462  2020-12-02      Blount  Alabama   1009.0   3100    43.0
...            ...         ...      ...      ...    ...     ...
790700  2020-12-02  Sweetwater  Wyoming  56037.0   1934     6.0
790701  2020-12-02       Teton  Wyoming  56039.0   1678     2.0
790702  2020-12-02       Uinta  Wyoming  56041.0   1121     4.0
790703  2020-12-02    Washakie  Wyoming  56043.0    486     8.0
790704  2020-12-02      Weston  Wyoming  56045.0    415     2.0

[3247 rows x 6 columns]

In [9]:
US_states_DF

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
15134  2020-12-02       Virginia    51  242480    4113
15135  2020-12-02     Washington    53  177929    2979
15136  2020-12-02  West Virginia    54   49905     778
15137  2020-12-02      Wisconsin    55  420930    3715
15138  2020-12-02        Wyoming    56   34507     230

[15139 rows x 5 columns]

In [10]:
US_live_DF

,date,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-12-03,13999385,273518,NaN,NaN,NaN,NaN

In [28]:
US_live_counties_DF.county

0          Autauga
1          Baldwin
2          Barbour
3             Bibb
4           Blount
           ...
3242    Sweetwater
3243         Teton
3244         Uinta
3245      Washakie
3246        Weston
Name: county, Length: 3247, dtype: object

In [12]:
US_live_counties_DF[~US_live_counties_DF.fips.isnull()]

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-12-03,Autauga,Alabama,1001.0,2873,42.0,2557.0,37.0,316.0,5.0
1,2020-12-03,Baldwin,Alabama,1003.0,9163,137.0,7387.0,103.0,1776.0,34.0
2,2020-12-03,Barbour,Alabama,1005.0,1206,29.0,783.0,24.0,423.0,5.0
3,2020-12-03,Bibb,Alabama,1007.0,1239,38.0,1104.0,22.0,135.0,16.0
4,2020-12-03,Blount,Alabama,1009.0,3100,43.0,2301.0,41.0,799.0,2.0
...,...,...,...,...,...,...,...,...,...,...
3242,2020-12-03,Sweetwater,Wyoming,56037.0,1934,6.0,1849.0,NaN,85.0,NaN
3243,2020-12-03,Teton,Wyoming,56039.0,1678,2.0,1631.0,NaN,47.0,NaN
3244,2020-12-03,Uinta,Wyoming,56041.0,1121,4.0,907.0,NaN,214.0,NaN
3245,2020-12-03,Washakie,Wyoming,56043.0,486,8.0,394.0,NaN,92.0,NaN
3246,2020-12-03,Weston,Wyoming,56045.0,415,2.0,342.0,NaN,73.0,NaN

In [13]:
US_state_policy_DF[US_state_policy_DF.policy_type == 'Mask Requirement']

,state_id,county,fips_code,policy_level,date,policy_type,start_stop,comments,source,total_phases
1,TX,Kinney,48271.0,county,2020-07-03,Mask Requirement,start,Policy_Details: County is approved to be exemp...,sip_submission_form: https://tdem.texas.gov/ga...,NaN
4,TX,Borden,48033.0,county,2020-07-03,Mask Requirement,start,Policy_Details: County is approved to be exemp...,sip_submission_form: https://tdem.texas.gov/ga...,NaN
15,TX,Archer,48009.0,county,2020-07-03,Mask Requirement,start,Policy_Details: County is approved to be exemp...,sip_submission_form: https://tdem.texas.gov/ga...,NaN
16,UT,Millard,49027.0,county,2020-11-24,Mask Requirement,start,Policy_Details: Masks required Source infor...,sip_submission_form: https://coronavirus.utah....,3.0
28,ID,Caribou,16029.0,county,2020-10-27,Mask Requirement,start,Policy_Details: Masks required in a public set...,sip_submission_form: https://coronavirus.idaho...,4.0
...,...,...,...,...,...,...,...,...,...,...
3595,TX,Knox,48275.0,county,2020-07-03,Mask Requirement,start,Policy_Details: County is approved to be exemp...,sip_submission_form: https://tdem.texas.gov/ga...,NaN
3601,OH,Wood,39173.0,county,2020-07-10,Mask Requirement,start,Policy_Details: face coverings required in any...,sip_submission_form: https://coronavirus.ohio....,NaN
3616,GA,NaN,NaN,state,2020-09-30,Mask Requirement,stop,Policy_Details: Governor Brian Kemp issued Exe...,sip_submission_form: https://gov.georgia.gov/e...,NaN
3696,CO,NaN,NaN,state,2020-08-16,Mask Requirement,stop,Policy_Details: Governor Polis issued EO D 202...,sip_submission_form: https://www.colorado.gov/...,NaN
3699,KY,NaN,NaN,state,2020-08-09,Mask Requirement,stop,Policy_Details: Executive Order 2020-586: Sign...,sip_submission_form: https://govsite-assets.s3...,NaN

In [22]:
US_county_land_DF

,Areaname,STCOU,LND010190F,LND010190D,LND010190N1,LND010190N2,LND010200F,LND010200D,LND010200N1,LND010200N2,...,LND110210N1,LND110210N2,LND210190F,LND210190D,LND210190N1,LND210190N2,LND210200F,LND210200D,LND210200N1,LND210200N2
0,UNITED STATES,0,0,3787425.08,0,0,0,3794083.06,0,0,...,0,0,0,251083.35,0,0,0,256644.62,0,0
1,ALABAMA,1000,0,52422.94,0,0,0,52419.02,0,0,...,0,0,0,1672.71,0,0,0,1675.01,0,0
2,"Autauga, AL",1001,0,604.49,0,0,0,604.45,0,0,...,0,0,0,8.48,0,0,0,8.48,0,0
3,"Baldwin, AL",1003,0,2027.08,0,0,0,2026.93,0,0,...,0,0,0,430.55,0,0,0,430.58,0,0
4,"Barbour, AL",1005,0,904.59,0,0,0,904.52,0,0,...,0,0,0,19.59,0,0,0,19.61,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,"Sweetwater, WY",56037,0,10491.73,0,0,0,10491.17,0,0,...,0,0,0,65.86,0,0,0,65.87,0,0
3194,"Teton, WY",56039,0,4221.96,0,0,0,4221.80,0,0,...,0,0,0,214.02,0,0,0,214.04,0,0
3195,"Uinta, WY",56041,0,2087.66,0,0,0,2087.56,0,0,...,0,0,0,5.91,0,0,0,5.90,0,0
3196,"Washakie, WY",56043,0,2242.85,0,0,0,2242.75,0,0,...,0,0,0,2.69,0,0,0,2.69,0,0
3197,"Weston, WY",56045,0,2400.13,0,0,0,2400.07,0,0,...,0,0,0,2.21,0,0,0,2.21,0,0

In [26]:
US_county_DF

          state             county      candidate party  total_votes    won
0      Delaware        Kent County      Joe Biden   DEM        44552   True
1      Delaware        Kent County   Donald Trump   REP        41009  False
2      Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3      Delaware        Kent County  Howie Hawkins   GRN          420  False
4      Delaware  New Castle County      Joe Biden   DEM       195034   True
...         ...                ...            ...   ...          ...    ...
31810   Arizona    Maricopa County      Write-ins   WRI         1331  False
31811   Arizona      Mohave County   Donald Trump   REP        78535   True
31812   Arizona      Mohave County      Joe Biden   DEM        24831  False
31813   Arizona      Mohave County   Jo Jorgensen   LIB         1302  False
31814   Arizona      Mohave County      Write-ins   WRI           37  False

[31815 rows x 6 columns]

In [31]:
US_county_population_DF

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43574,...,-17.605427,0.502513,15.035735,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3189,50,4,8,56,39,Wyoming,Teton County,21294,21298,21296,...,-1.583464,-2.575509,1.905293,23.259519,12.508872,4.670450,1.253214,-0.171608,-12.432212,1.797445
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21121,21089,...,-9.181105,-18.196975,-4.487730,-10.870861,-15.033634,-10.484550,-11.485101,-18.923455,-13.554993,-9.181105
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8528,8530,...,-7.652085,-12.839390,-3.084589,-1.307811,-18.938032,0.000000,-15.204038,-15.950541,-17.246806,-8.289759
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7198,...,0.000000,-9.065551,-10.549265,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.599090

In [34]:
US_county_income_DF

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2018 Poverty and Median Household Income Estim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.